html {
    font-family: 'Questrial', sans-serif;
    background-color:white;
    color:black;
}

body {
    margin: 0;
    padding: 0;
}

.wrapper {
    width: auto;
    height: auto;
}

.submitSection p {
    font-size: 0.75em;
    text-align: right;
}

#mobilebar {
    float: right;
    z-index: 99;
    margin-top: 0.1em;
    position: fixed;
    padding: 1.2em;
    right: 0;
    background-color:  rgb(57, 57, 58);
}

#mobilebar:active {
    background-color: rgb(46, 186, 139);
}

.mobile {
    width: 100%;
    background-color: rgb(57, 57, 58);
    color: white;
    position: fixed;
    top: 4.2em;
    z-index: 99;
}


#yescitizen, #nocitizen, #noaid, #fullaid, #partialaid {
    width: 2em;
}

.formSection #yescitizenresponse {
    padding-left: 2em;
}

.finaidresponses {
    width: 90%;
}

#fullaidresponse, #partialaidresponse, #noaidresponse {
    font-size: 0.65em;
}

#firstsat2 {
    margin-top: 1em;
}

#mobilebar img {
    width: 1.5em;
}

.formSection table thead tr {
    width: 10em;
}

#headoflistings tr td{
    padding: 0.5em;
}

.navbar {
    box-shadow: 0 4px 8px 0 rgba(26, 26, 25, 0.2), 0 6px 20px 0 rgba(26, 26, 25, 0.19);
    display: block;
    width: 100%;
    z-index: 1;
    width: 100%;
    align-content: right;
    background-color: rgb(26, 26, 25);
    position: fixed;
    top: 0;
}

#menulinks, #mobilelinks {
    display: none;
    overflow-wrap: break-word;
}

.splash-link:visited {
    color: white;
    background-color: rgb(87, 87, 88);
    text-align: center;
}


.mobileclicklinks {
    text-align: center;
    color: white;
}

.formHeadings .heading {
    font-size: 0.8em;
    float: left;
}

table input {
    width: 1.25em;
    font-size: 0.75em;
}

table td {
    font-size: 0.75em;
}

table thead td {
    font-style: italic;
}

.formHeadings .formProgress {
    float: right;
    font-size: 0.5em;
    margin-right: 0.5em;
}

.failurePage h1 {
    font-size: 50px;
}

#booyah, #oops {
    color: rgb(222, 67, 96);
}

.splash {
    position: relative;
    top: 7em;
}

.formSection p {
    line-height: 1.7em;
}

.splashimage img {
    margin: 0 auto;
    width: 90%;
    height: 43%;
    margin-left: 1.5em;
    padding-bottom: 1em;
}

.splash-link, .splash-link:visited, #landingLink {
    background-color: rgb(46, 186, 139);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding-left: 5em;
    padding-right: 5em;
    color: white;
}



#landingLink:hover, #submit:hover {
    background-color:white;
    color: rgb(46, 186, 139);
}

.splash-link:hover {
    background-color: white;
    color: rgb(46, 186, 139);
}

.splashtext {
    float: right;
    margin-right: 0em;
    padding: 1em;
    padding-bottom: 5em;
    text-align: center;
    background-color: rgb(26, 26, 25);
    color: white;
    box-shadow: 0 4px 8px 0 rgba(26, 26, 25, 0.5), 0 6px 20px 0 rgba(26, 26, 25, 0.4);
}

h1 {
    font-size: 60px;
}

a {
    text-decoration: none;
    margin: 10px;
    padding: 20px;
}

.unirow #uniresult label {
    text-align: center;
    font-size: 1em;
}

.unirow #uniresult .decision {
    margin-left: 0.9em;
    width: 1.5em;
}

.unirow .unicycle {
    padding: 0.5em;
}

.unirow .unicycle .cycle {
    width: 2em;
}


.triangle-right {
    top: 10em;
    margin-left: 10%;
    margin-top: 10%;
	width: 0;
	height: 0;
	border-top: 50px solid transparent;
	border-left: 100px solid rgb(222, 67, 96);
    border-bottom: 50px solid transparent;
    display: none;
}

.landing {
    position: relative;
    margin: 0 auto;
    text-align: justify;
    top: 8em;
    line-height: auto;
}

#landingLink {
    padding-left: 2em;
    padding-right: 2em;
    margin-left: 30%;
}

.formHeadings  {
    background-color: rgb(222, 67, 96);
    padding: 0.5em;
    padding-bottom: 1em;
    font-size: 30px;
    color: white;
    height: 1em;
}

.formbody {
    margin: 0 auto;
    width: 70%;
    border-left: black;
    border-right: black;
    padding: 2em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.landing h1 {
    font-size: 30px;
}

.landing h2 {
    font-size: 20px;
}

.landing a, .splashheadings a {
    margin: 0 auto;
}

#secondlinksplash {
    margin-left: 2em;
}


input {
    border-radius: 20px;
    margin-top: 1em;
    margin-bottom: 1.5em;
    padding: 10px;
    width: 90%;
    text-align: center;
    background-color: rgb(240, 239, 239);
}

.formSection {
    margin-left: 10px;
    line-height: 10px;
}

.circle {
    height: 150spx;
    width: 150px;
    background-color: rgb(42, 9, 158);
    border-radius: 50%;
    margin-left: 87%;
    margin-top: 29%;
    position: fixed;
    z-index: 0;
    display: none;
  }

#submit {
    background-color: rgb(46, 186, 139);
    color: white;
    border: none;
    margin-bottom: 3em;
    margin-left: 1.25em;
    text-align: center;
    width: 90%;
    border-radius: 0px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}       

.formSection h5 {
    font-size: 21px;
    text-decoration: underline;
}

.formSection h6 {
    font-size: 18px;
    font-style: italic;
    margin-bottom: 1em;
    margin-top: 1em;
}

td {
    text-align: center;
    padding: 0.1em;
}

#year {
    width: 10%;

}

#city {
    width: 10%;
}

form {
    position: relative;
    margin: 0 auto;
    top: 3em;
}

.formTitle {
    font-size: 48px;
    text-align: center;
}


#accepted, #waitlisted, #denied {
    width: 3%;
}

#SAT, #ACT, #Both {
    width: 11%;
}

#sat-english, #sat-math, #sat-essay, .sat2-score, #act-composite, #act-english, #act-math, #act-reading, #act-science {
    width: 90%;
}

#sat2-subject {
    width: 90%;
}

footer {
    background-color: rgb(26, 26, 25);
    text-align: center;
    padding: 0.25%;
    width: 100%;
    color: white;
}

.construction {
    text-align: center;
}

.constructSection {
    position: relative;
    top: 10em;
}

.subjects {
    width: 100%;
    margin-bottom: 1em;
}

.constructSection img {
    float: right;
    width: 21%;
}

.successPage {
    position: relative;
    top: 12em;
    margin: 0 auto;
    padding: 2em;
}

.failurePage {
    position: relative;
    top: 7em;
    margin: 0 auto;
    padding: 2em;
}

.successPage h1 {
    font-size: 2em;
}

.eta {
    font-size: 20px;
}

.meet {
    text-align: center;
    font-size: 45px;
    margin-top: 0;
}

.shah img, .saljuk img, .arbaz img, .musa img {
    width: 15em;
    height: 15em;
    padding-bottom: 2em;
    float: left;
}

.arbaz img, .musa img {
    margin: 0 2em 0;
}

.shah img {
    padding-left: 0.4em;
}

.musa img {
    float: left;
}

.shah img {
    margin: 0 1em 0;
}

.saljuk img {
    margin: 0 2em 0;
}

.aboutSection {
    width: 90%;
    margin: 0 auto;
    top: 7em;
    position: relative;
}

.aboutSection .personText {
    padding: 2em;
    text-align: left;
}

.plus, .minus {
    font-size: 35px;
    color: white;
    box-shadow: 0 4px 8px 0 rgba(26, 26, 25, 0.2), 0 6px 20px 0 rgba(26, 26, 25, 0.19);
}

.plus:hover, .minus:hover{
    color: rgb(42, 9, 158);
    background-color: white;
}

.minus {
    margin-left: 0.5em;
    background-color: rgb(42, 9, 158);
    padding-left: 0.4em;
    padding-right: 0.4em;
    padding-bottom: 0.1em;
    border-radius: 100%;
}

.plus {
    background-color: rgb(42, 9, 158);
    padding-left: 0.325em;
    padding-right: 0.325em;
    padding-bottom: 0.1em;
    border-radius: 100%;
}

.unisappliedform {
    width: 65%;
    font-size: 0.5em;
}



.unisappliedlist {
    width: 14em;
    font-size: 0.5em;
}

#uniresult, .unicycle {
    width: 30%;
}

.unirow td {
    border: 1px solid #3767b0;
}

.uniListings thead {
    line-height: 2em;
    background-color: #3767b0;
    color: white;
    font-size: 0.5em;
}


.uniListings {
    border: #3767b0 1px solid;
    margin: 0;
    padding: 0;
}


#numbercolleges {
    width: 7em;
}

.formSection {
    padding-top: 1em;
    padding-bottom: 1em;
}

.formbody label {
    line-height: 1.7em;
    font-style: italic
}

.note {
    line-height: 1.7em;
    padding-bottom: 2em;
}

#formlandingh1, #formlandingh2 {
    border-radius: 40px;
    padding: 1.25em;
    font-size: 2em;
    color: white;
    box-shadow: 0 4px 8px 0 rgba(26, 26, 25, 0.2), 0 6px 20px 0 rgba(26, 26, 25, 0.19);
}

.landing {
    padding-left: 1em;
    padding-right: 1em;
    margin-bottom: 3em;
}

#landinginitial {
    margin-top: 5em;
    padding-top: 2em;
    border-top: 1px solid black;
}

#landinglast {
    font-size: 1em;
}

#formlandingh1 {
    text-align: right;
    background-color: rgb(222, 67, 96)
}

#formlandingh2 {
    text-align: left;
    background-color: rgb(42, 9, 158);
}

#year {
    margin-left: 1em;
    width: 5em;
}

#city {
    width: 90%;
}

.navbar .logo img {
    width: 30%;
    margin: 0;
    border: 0;
    padding: 1em 0em 1em 0em;
}

footer p {
    padding: 1em;
}

.formSection h5, h6 {
    line-height: 1.5em;
}

.datalist-polyfill {
	list-style: none;
	display: none;
	background: white;
	box-shadow: 0 2px 2px #999;
	position: absolute;
	left: 0;
	top: 0;
	margin: 0;
	padding: 0;
	max-height: 300px;
	overflow-y: auto;
}

.datalist-polyfill:empty {
	display: none !important;
}

.datalist-polyfill {
    margin-left: 4em;
    margin-top: 7em;
}

    .datalist-polyfill > li {
        padding: 3px;
        font: 13px "Lucida Grande", Sans-Serif;
    }
    
    .datalist-polyfill__active {
        background: #3875d7;
        color: white;
    }
