html {
    font-family: 'Questrial', sans-serif;
    background-color:rgb(15, 23, 82);
    color:white;
}

body {
    margin: 0;
    padding: 0;
}

.navbar {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: inline-block;
    width: 100%;
    z-index: 1;
    width: 100%;
    align-content: right;
    background-color: #ECA521;
}

.navbar-links {
    float: right;
    color: white;
    font-size: 18px;
}

.navbar-links:hover{
    color: black;

}

.formHeadings #heading {
    float: left;
}

.formHeadings .formProgress {
    float: right;
    margin-right: 0.5em;
}

.failurePage h1 {
    font-size: 50px;
}

#booyah, #oops {
    color: #ECA521;
}

.splash {
    position: relative;
    top: 3em;
}

.splashimage img {
    float: left;
    width: 43%;
    height: 43%;
    margin-left: 2em;
}

.splash-link, .splash-link:visited, #landingLink {
    background-color: rgb(42, 9, 158);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding-left: 30px;
    padding-right: 30px;
    color: white;
}


#landingLink:hover, #submit:hover {
    background-color: #3767b0;
    color: white;
}

.splash-link:hover {
    background-color: #3767b0;
    color: white;
}

.splashtext {
    margin-top: 3em;
    float: right;
    margin-right: 0em;
    padding: 5em;
    background-color: #25A8DC;
    color: white;
}

h1 {
    font-size: 60px;
}

a {
    text-decoration: none;
    margin: 10px;
    padding: 20px;
}

.landing {
    position: relative;
    margin: 0 auto;
    text-align: justify;
    top: 4.5em;
    width: 55em;
    line-height: auto;
}

#landingLink {
    padding-left: 10em;
    padding-right: 10em;
}

.formHeadings  {
    background-color: #25A8DC;
    padding: 10px;
    font-size: 30px;
    color: white;
    height: 1em;
}

.landing h1 {
    font-size: 30px;
}

.landing h2 {
    font-size: 20px;
}

.landing a, .splashheadings a {
    margin: 0 auto;
}

#secondlinksplash {
    margin-left: 2em;
}

#change {
    color: #ECA521;
}


input {
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
    width: 25%;
    text-align: center;
}


.formSection {
    margin-left: 10px;
    line-height: 10px;
}

#submit {
    background-color: rgb(42, 9, 158);
    color: white;
    border: none;
    margin-bottom: 3em;
    text-align: center;
    width: 10%;
    border-radius: 0px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}       

.formSection h5 {
    font-size: 21px;
    text-decoration: underline;
}

.formSection h6 {
    font-size: 18px;
    font-style: italic;
    margin-bottom: 1em;
    margin-top: 1em;
}

td {
    border-right: #2D3784 solid 1px;
    text-align: center;
}

#year {
    width: 10%;

}

#city {
    width: 10%;
}

form {
    position: relative;
    margin: 0 auto;
    top: 1.75em;
}

.formTitle {
    font-size: 48px;
    text-align: center;
}


#SAT, #ACT, #Both, #accepted, #waitlisted, #denied {
    width: 3%;
}

#sat-english, #sat-math, #sat-essay, #act-composite, #act-english, #act-math, #act-reading, #act-science, #sat2-score {
    width: 5%;
}

#sat2-subject {
    width: 10%;
}

footer {
    background-color: #ECA521;
    text-align: center;
    padding: 0.25%;
    width: 100%;
}



.construction {
    text-align: center;
}

.constructSection {
    position: relative;
    top: 10em;
}


.constructSection img {
    float: right;
    width: 21%;
}

.successPage, .failurePage {
    position: relative;
    top: 14em;
    margin: 0 auto;
    margin-left: 10em;
}

.meet {
    text-align: center;
    font-size: 45px;
}

.shah img, .saljuk img {
    width: 15em;
    height: 15em;
}

.aboutSection {
    width: 90%;
    margin: 0 auto;
}

.aboutSection .personText {
    padding: 2em;
    text-align: justify;
}

#saljukText {
    text-align: right;
}

.plus, .minus {
    font-size: 35px;
    color: white;
}

.plus:hover, .minus:hover{
    color: #2D3784;
}

.minus {
    margin-left: 0.5em;
    background-color: #3767b0;
    padding-left: 0.4em;
    padding-right: 0.4em;
    padding-bottom: 0.1em;
    border-radius: 100%;
}

.plus {
    background-color: #3767b0;
    padding-left: 0.325em;
    padding-right: 0.325em;
    padding-bottom: 0.1em;
    border-radius: 100%;
}
.uniListings {
     width: 50%;
}

#unis-applied {
    width: 75%;
}

.uniListings thead {
    line-height: 50px;
    background-color: #3767b0;
    color: white;
}


.uniListings {
    border: #3767b0 1px solid;
    width: 75%;
}

.uniListings td {
    border: none;
}

#numbercolleges {
    width: 7em;
}

.formSection {
    padding-top: 1em;
    padding-bottom: 1em;
}