html {
    font-family: 'Questrial', sans-serif;
    background-color:white;
    color:black;
}

body {
    margin: 0;
    padding: 0;
}

#mobilebar {
    display: none;
}

.filterheader input {
    width: 2%;
}

.filterheader label {
    font-size: 0.9em;
}

#yeargraphcheckboxes {
    width: 75%;
}

.navbar {
    box-shadow: 0 4px 8px 0 rgba(26, 26, 25, 0.2), 0 6px 20px 0 rgba(26, 26, 25, 0.19);
    display: inline-block;
    width: 100%;
    z-index: 1;
    width: 100%;
    align-content: right;
    background-color: rgb(26, 26, 25);
    position: fixed;
    top: 0;
}

.navbar-links {
    float: right;
    color: white;
    font-size: 18px;
    margin-top: 0.75em;
}

.navbar-links:hover{
    color: rgb(109, 108, 108);

}

.formHeadings #heading {
    float: left;
}

.searchbarabovechart {
    top: 2em;
    position: relative;
    width: 60em;
}

.searchbarchart {
    overflow: scroll;
    box-shadow: 0 4px 8px 0 rgba(26, 26, 25, 0.2), 0 6px 20px 0 rgba(26, 26, 25, 0.19);
}

.formHeadings .formProgress {
    float: right;
    margin-right: 0.5em;
}

#gonexttochart {
    margin-bottom: 3em;
}
 
.failurePage h1 {
    font-size: 50px;
}

#booyah, #oops {
    color: rgb(222, 67, 96);
}

.splash {
    position: relative;
    top: 9em;
}

.splashimage img {
    float: left;
    width: 43%;
    height: 43%;
    margin-left: 2em;
}

.splash-link, .splash-link:visited, #landingLink {
    background-color: rgb(46, 186, 139);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding-left: 30px;
    padding-right: 30px;
    color: white;
}

#searchdatalink {
    margin-left: 3em;
}

#landingLink:hover, #submit:hover {
    background-color:white;
    color: rgb(46, 186, 139);
}

.submitSection p {
    text-align: right;
}

.splash-link:hover {
    background-color: white;
    color: rgb(46, 186, 139);
}


.splashtext {
    width: 41%;
    margin-top: 3em;
    float: right;
    margin-right: 0em;
    padding: 5em;
    background-color: rgb(26, 26, 25);
    color: white;
    box-shadow: 0 4px 8px 0 rgba(26, 26, 25, 0.5), 0 6px 20px 0 rgba(26, 26, 25, 0.4);
}

h1 {
    font-size: 60px;
}

a {
    text-decoration: none;
    margin: 10px;
    padding: 20px;
}

.triangle-right {
    top: 7em;
    margin-left: 50%;
	width: 0;
	height: 0;
	border-top: 100px solid transparent;
	border-left: 200px solid rgb(222, 67, 96);
    border-bottom: 100px solid transparent;
    position: fixed;
}

.landing {
    position: relative;
    margin: 0 auto;
    text-align: justify;
    top: 9em;
    width: 55em;
    line-height: auto;
}

#landingLink {
    padding-left: 10em;
    padding-right: 10em;
}

.formHeadings  {
    background-color: rgb(222, 67, 96);
    padding: 10px;
    font-size: 30px;
    color: white;
    height: 1em;
}

.formbody {
    margin: 0 auto;
    width: 70%;
    border-left: black;
    border-right: black;
    padding: 2em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.landing h1 {
    font-size: 30px;
}

.landing h2 {
    font-size: 20px;
}

.landing a, .splashheadings a {
    margin: 0 auto;
}

#secondlinksplash {
    margin-left: 2em;
}


input {
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
    width: 25%;
    text-align: center;
    background-color: rgb(240, 239, 239);
}


.formSection {
    margin-left: 10px;
    line-height: 10px;
}

.circle {
    height: 150px;
    width: 150px;
    background-color: rgb(42, 9, 158);
    border-radius: 50%;
    margin-left: 87%;
    margin-top: 29%;
    position: fixed;
    z-index: 10;
  }

#submit {
    background-color: rgb(46, 186, 139);
    color: white;
    border: none;
    margin-bottom: 3em;
    text-align: center;
    width: 10%;
    border-radius: 0px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}       

.formSection h5 {
    font-size: 21px;
    text-decoration: underline;
}

.formSection h6 {
    font-size: 18px;
    font-style: italic;
    margin-bottom: 1em;
    margin-top: 1em;
}

td {
    border-right: #2D3784 solid 1px;
    text-align: center;
}

#year {
    width: 10%;

}

#city {
    width: 10%;
}

form {
    position: relative;
    margin: 0 auto;
    top: 3em;
}

.formTitle {
    font-size: 48px;
    text-align: center;
}


#SAT, #ACT, #Both {
    width: 3%;
}

.unirow .decision {
    width: 5%;
    margin: 1em;
}

.unicycle {
    padding-left: 1em;
}

.unirow .cycle {
    width: 5%;
    margin: 0.5em;
    margin: 1.5em;
}

#sat-english, #sat-math, #sat-essay, #act-composite, #act-english, #act-math, #act-reading, #act-science, .sat2-score, #sat-total {
    width: 5%;
}

.sat2-subject {
    width: 10%;
}

.subjects {
    margin-left: 1em;
    margin-right: 1em;
    width: 20em;
}

svg > g > g:last-child { 
    pointer-events: none 
}

footer {
    background-color: rgb(26, 26, 25);
    text-align: center;
    padding: 0.25%;
    width: 100%;
    color: white;
}

.construction {
    text-align: center;
}

.constructSection {
    position: relative;
    top: 10em;
}


.constructSection img {
    float: right;
    width: 21%;
}

.successPage, .failurePage {
    position: relative;
    top: 18em;
    margin: 0 auto;
    margin-left: 10em;
}

.eta {
    font-size: 20px;
}

.meet {
    text-align: center;
    font-size: 45px;
}

.shah img, .saljuk img, .arbaz img, .musa img {
    width: 15em;
    height: 15em;
    margin: 0 2em 0px;
}

#mobilelinks {
    display: none;
}

.arbaz img, .musa img {
    margin: 0 2em 0px;
    float: right;
}

.saljuk img, .shah img {
    float: left;
}


.mobileclicklinks {
    display: none;
}

#yescitizen, #nocitizen, #noaid, #fullaid, #partialaid {
    width: 2em;
}

.formSection #yescitizenresponse {
    padding-left: 2em;
}

.search_landing {
    top: 7em;
    position: relative;
    width: 80%;
    margin: 0 auto;
}

.search_landing h1 {
    font-size: 2em;
    text-align: center;
}

.main_three img {
    width: 9%;
    padding: 3%;
    background-color: rgb(222, 67, 96);
    border-radius: 70%;
}

.main_three, .main_three_descriptions {
    position: relative;
    text-align: center;
}

.main_three_descriptions {
    font-size: 1.5em;
}

.prospectiveapplicantprofile {
    position: relative;
    top: 5em;
    width: 70%;
    margin: 0 auto;
}

.olevelgrades, .a1grades, .satactorboth {
    padding-left: 1.5em;
    padding-right: 1.5em;
    padding-bottom: 1em;
    display: none;
}

.profilesectionheader {
    color: black;
    border-radius: 2em;
    border: 1px solid rgb(42, 9, 158);
    margin-top: 3em;
    margin-bottom: 2em;
}

.profilesectionheader span {

    font-size: 1.2em;
    margin-left: 1em;
    padding: 0;
}

.labelheader {
    background-color: rgb(42, 9, 158);
    color: white;
    padding: 1em;
    font-size: 1.2em;
    border-radius: 1.6em;
    clear: both;
}

.sectionenlarge {
    float: right;
    color: white;
    font-size: 2em;
    width: 1.05em;
    text-align: center;
    vertical-align: 50%;
    background-color: rgb(46, 186, 139);
    border-radius: 100%;
    margin-right: 1.25em;
}

.sectionenlarge:hover {
    background-color: white;
    color: rgb(46, 186, 139);
}

.profileheader {
    position: relative;
    top: 1.05em;
    text-align: center;
    background-color: rgb(222, 67, 96);
    color: white;
    padding: 0.25em;
    padding-right: 0.3em;
    font-size: 3em;
}

.main_three_descriptions span {
    margin: 5.5%;
}

#searchschool {
    margin-left: 5%;
}

.main_three img {
    margin: 3%;
}


.search_next_button, .search_next_button:visited {
    padding: 1em;
    padding-right: 2em;
    background-color: rgb(46, 186, 139);
    text-align: center;
    color: white;
    box-shadow: 0 4px 8px 0 rgba(26, 26, 25, 0.2), 0 6px 20px 0 rgba(26, 26, 25, 0.19);
}

.search_next_button:hover {
    background-color: white;
    color: rgb(46, 186, 139);
}


#uninamechart {
    text-align: center;
    font-size: 2.2em;
    clear: both;
}

.searchbarchart {
    position: relative;
    float: left;
    top: 4em;
    width: 27%;
    height: 100vh;
    background-color: rgb(42, 9, 158);
    color: white;
}

#searchbar {
    margin: 0;
    width: 40em;
    font-family: "Questrial";
    text-align: left;
    font-size: 1em;
    border: 1px solid white;
    border-radius: 0;
    color: black;
    position: relative;
    padding: 1em;
    left: 3em;
    margin-bottom: 1em;
}

#searchBarButton {
    border-radius: 0;
    font-family: 'Questrial';
    padding-left: 0;
    padding-right: 0;
    padding-top: 1.2em; 
    padding-bottom: 1.1em;
    border: none;
    background-color: rgb(222, 67, 96);
    color: white;
    width: 5.7em;
    margin-left: 3em;
    margin-top: 0;
    font-size: 0.9em;
}

.searchuniform {
    width: 60em;
}

#scatterchart_material {
    margin: 0 auto;
    width: 47em; 
    height:30em; 
    margin-left: 3em;
    margin-top: 3em;
    padding:0;
}

.graphtype .typeofgraph {
    font-family: 'Questrial';
    background-color: rgb(46, 186, 139);
    color: white;
    width: 27em;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0;
    border: 1px solid white;
    padding:1em;
    font-size: 0.5em;
    margin-top: 2em;
}

#container {
    margin: 20px;
    width: 100px;
    height: 100px;
    left: 52%;
    top: 50%;
    position: fixed;
  }

.selectgraphtype {
    width: 100%;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 1.4em;
    margin: 0;
    border: 0;
    background-color: rgb(46, 186, 139);
    font-size: 1.5em;
}

#filtersgraphheading {
    padding-bottom: 0.2em;
    border-bottom: 1px solid white;
}

.filters {
    padding: 2em;
    padding-top: 0.5em;
}

.chartpage {
    position: relative;
    top: 1em;
}

#chartlegend {
    position: fixed;
    right: 0;
    width: 9em;
    margin-right: 3em;
    top: 40%;
}

.chart {
    position: relative;
    top: 5em;
    width: 25em;
    float: right;
    margin: 0;
    margin-right: 40em;
    padding: 0;
    border:0;
}

.formSection #fullaidresponse {
    padding-left: 2em;
}

.searchSubmitSection {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 26.7%;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    background-color: rgb(46, 186, 139);
}

#searchchart {
    margin: 0 auto;
    background-color: rgb(46, 186, 139);
    color: white;
    font-family: 'Questrial';
    z-index: 100;
    border: none;
    width: 80%;
    font-size: 1.5em;
}

.formSection #citizenquestion {
    padding-bottom: 20em;
}

.mobile h3 {
    display: none;
}

.aboutSection {
    width: 90%;
    margin: 0 auto;
    top: 7em;
    position: relative;
    margin-bottom: 7em;
}

.aboutSection .personText {
    padding: 2em;
    text-align: justify;
}

#saljukText {
    text-align: left;
}

#musaText {
    text-align: right;
}

#arbazText {
    text-align: right;
}

#satDetails p {
    line-height: 1.7em;
}

#satDetails a, #satDetails a:visited {
    color: rgb(42, 9, 158);
}

#satDetails a:hover {
    color: rgb(109, 108, 108);
}

.plus, .minus {
    font-size: 35px;
    color: white;
    box-shadow: 0 4px 8px 0 rgba(26, 26, 25, 0.2), 0 6px 20px 0 rgba(26, 26, 25, 0.19);
}

.plus:hover, .minus:hover {
    color: rgb(42, 9, 158);
    background-color: white;
}

.minus {
    margin-left: 0.5em;
    background-color: rgb(42, 9, 158);
    padding-left: 0.4em;
    padding-right: 0.4em;
    padding-bottom: 0.1em;
    border-radius: 100%;
}

.plus {
    background-color: rgb(42, 9, 158);
    padding-left: 0.325em;
    padding-right: 0.325em;
    padding-bottom: 0.1em;
    border-radius: 100%;
}

.uniListings thead {
    line-height: 50px;
    background-color: #3767b0;
    color: white;
}


.uniListings {
    border: #3767b0 1px solid;
    width: 100%;
}

.uniListings input {
    width: 25em;
    margin-right: 2em;
    margin-left: 2em;
}

.uniListings td {
    border: none;
}

#uniresult {
    padding-left: 1em;
    width: 20em;
}

.saljuk img {
    margin: 0 2em 0px;
}

#numbercolleges {
    width: 7em;
}


.formSection {
    padding-top: 1em;
    padding-bottom: 1em;
}

.note {
    line-height: 1.7em;
    font-style: italic;
}

#formlandingh1, #formlandingh2 {
    border-radius: 40px;
    padding: 0.5em;
    color: white;
    box-shadow: 0 4px 8px 0 rgba(26, 26, 25, 0.2), 0 6px 20px 0 rgba(26, 26, 25, 0.19);
}

#formlandingh1 {
    background-color: rgb(222, 67, 96)
}

#formlandingh2 {
    text-align: right;
    background-color: rgb(42, 9, 158);
}

.navbar .logo img {
    width: 11%;
    margin: 0;
    border: 0;
    padding: 1em 0em 1em 2em;
}

.navbar .logo a {
    padding: 0;
    margin: 0;
}
